body {
    background-color: lightblue;
    //background: linear-gradient(to bottom right, lightblue, blue);
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
