<html>
<link rel='stylesheet' href ='/static/style.css'/>
  <a href='/'>Back</a>
  <head>
    <div style="background-color:beige; border:1px solid grey; display: table; padding-right: 30px; padding-left: 30px; padding-bottom: 20px;">
      <h1>Daniel Verdugo</h1>
      <p>dverdugo521@csu.fullerton.edu</p>
      <a href ='https://www.linkedin.com/in/danielverdugo/'>LinkedIn</a><br>
      <a href = 'https://github.com/Daniel521'>Github</a>
    </div>
  </head>

  <body>
    <p>The looks and brains of this operation.</p>
    <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b1edeba4f508540690ac37f82b480049.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 400px; border: 1px solid grey; background-color:aliceblue;"></iframe>
  </body>

</html>
